<app-default-login-layout 
 title="Sign in and start today!"
 primaryBtnText="Signup now"
 secondaryBtnText="Login now"
 (submit)="submit()"
 (navigate)="navigate()"
 [disablePrimaryBtn]="!signupForm.valid"
>
 <form [formGroup]="signupForm">
  <app-primary-input
   inputName="name"
   formControlName="name"
   type="text"
   label="Your name"
   placeholder="Jhon Doe"
  >
   <img src="/assets/svg/envelop.svg"/>
  </app-primary-input>
  <app-primary-input
   inputName="email"
   formControlName="email"
   type="email"
   label="Email"
   placeholder="jhondoe@hotmail.com"
  >
   <img src="/assets/svg/envelop.svg"/>
  </app-primary-input>
  <app-primary-input
   inputName="password"
   formControlName="password"
   type="password"
   label="Your Password"
  >
   <img src="/assets/svg/lock.svg"/>
  </app-primary-input>
  <app-primary-input
   inputName="passwordConfirm"
   formControlName="passwordConfirm"
   type="password"
   label="Confirm your Password"
  >
   <img src="/assets/svg/lock.svg"/>
  </app-primary-input>
 </form>
</app-default-login-layout>
